<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
</head>
<body>
<script type="text/javascript">
    //页面自动跳转地址（非静默授权链接） 参数appid为公众号的id redirect_uri为微信回调接口 state为可携带的参数(可选，这里写的是回调接口处理完跳转到指定页面) 其余参数不变
   // window.location.href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx591d0d4203841689&redirect_uri=http://songhui.tunnel.qydev.com/micomo/inter/BackWet&response_type=code&scope=snsapi_userinfo&state=index.html#wechat_redirect";
    var appid = 'wx591d0d4203841689';  //订制潘
    var appsecret ='40842ad4821bf22990e864fc462363dd';   //订制潘
    var receiveurl=encodeURIComponent('http://76g38u.natappfree.cc/getCode');
    // alert('receiveurl'+receiveurl);snsapi_userinfo snsapi_base
    var paypar = ["appid="+appid,"redirect_uri="+receiveurl,"response_type=code","scope=snsapi_base","state=STATE#wechat_redirect"].join("&");
    var urlstr = 'https://open.weixin.qq.com/connect/oauth2/authorize?';
    //https://open.weixin.qq.com/connect/oauth2/authorize?appid=APPID&redirect_uri=REDIRECT_URI&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect
    urlstr += paypar;

    window.location.href=urlstr;
</script>
</body>
</html>